<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node Js Portfolio | Home</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
  </head>
  <body>
    {{>navbar data=details}}

    {{>slider slides=slides}}

    {{!-- {{>service service=service}} --}}

   <section id="services" class="py-3">
        <div class="container">
          <h1 class="text-center text-secondary">Services that we provide</h1>
          <div class="row mt-4">
            {{#each service}}
            <div class="col-md-4 py-3">
              <div class="card">
                <div class="card-body">
                  <div class="container text-center py-3">
                    <i class="{{this.icon}} service_icon"></i>
                  </div>
                  <h3 class="card-title">{{this.title}}</h3>
                  <a href="#">Book Now</a>
                  <a href="{this.linkurl}}">{{this.linktext}}</a>
                </div>
              </div>
            </div>
            {{/each}}

        

          </div>

        </div>
   </section>

{{!-- contact us section --}}

<section id="contact_us" >
  <div class="container ">
    <h1 class="text-center text-secondary">Contact Us</h1>
    <form action="/contact-form" method="post" class="row g-3 border rounded shadow-lg mt-3 py-3 style form-background">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Name</label>
      <input type="name" class="form-control" name="name">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="col-md-6">
      <label for="phone" class="form-label">Phone No.</label>
      <input type="phone" class="form-control" name="phone">
    </div>
        <div class="col-md-6">
      <label for="inputState" class="form-label">State</label>
      <input type="text" class="form-control" name="state">
      {{!-- <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select> --}}
    </div>
      <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" name="city">
    </div>
        <div class="col-md-6">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" name="zip">
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">Message</label>
      <textarea type="text" class="form-control" name="message" placeholder="Type your message here..."></textarea>
    </div>

    <div class="col-12">
      <button type="submit" class="btn submitbtn">Submit</button>
    </div>
  </form>
  </div>

</section>
<br><br>

{{>footer}}

  <script src="https://kit.fontawesome.com/08e9928e48.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>